<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @{
            var hostHeader = Request.Headers["host"];
            var regex = new System.Text.RegularExpressions.Regex(
                System.Text.RegularExpressions.Regex.Escape(".")
            );
            var url = regex.Replace(hostHeader, ".scm.", 1);

            var scmLink = string.Format("https://{0}/DebugConsole/?shell=powershell", url);
        }
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        <img src="~/Images/ID-100274982.jpg" alt="Image courtesy of num_skyman / FreeDigitalPhotos.net" />
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Secret", "About", "Home")</li>
                            <li><a href="@scmLink">Kudu</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Flexpod demo application</p>
                    <small>*Logo courtesy of num_skyman / FreeDigitalPhotos.net</small>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
